.menu 
{ background-color: rgb(158, 164, 243); }

p {color:rgb(61, 18, 160); 
   
   font-family: Verdana, Tahoma, sans-serif;}
   
   .clear-both{
    clear: both;
  }
 
.navbar div ul li a {
  color: yellowgreen !important;
  margin: 5px;
}

.navbar div ul li a:hover {
  color: #007BFF !important;
}

.tema
{
 align-items: center; color: blueviolet;  font-style: bold;
}
    /*PRODUTOS*/
 #produtos{
   width: 90%;
   margin: auto;
   padding: 35px;
 }
 #produtos .categorias {
   width: 25%;
   text-align: left;
   float: left;
 }
 #produtos .produto{
   float: right;
   width: 75%;
   text-align: center;
 }
 #produtos div.produto{
   float: left;
   width: 25%;
   height: 320px;
   padding: 20px;
   box-sizing: border-box;
 }
 #produtos div.produto img{
   width: 170px;
 }
 #produtos div.produto h1 {
   font-size: 14px;
 }
 #produtos div.produto span.valor {
   font-size: 14px;
   color:midnightblue ;
   text-decoration: line-through;
   display: block;
 }
 #produtos div.produto span.promo  {
   font-size: 14px; color: mediumvioletred;
 }
   
/*footer*/
.footer { 
  background-color: rgb(158, 164, 243);
}
footer div {
 text-align: center;
}
footer div img {
 width: 200px;
}

/*Inicio edição formulario mensagem*/
.formMensagem div h1 {
    text-align: center;
    color:rgb(61, 18, 160);
}
.imagemFormulario img {
  align-items: center;
  display:flex; 
  text-align: center;
  margin: 0 auto;
}
/*final edição formulario mensagem*/
